// -------------------------------------
// Susy Import
// -------------------------------------
//@import "susy";
// -------------------------------------
// Core Mixins
// -------------------------------------
@import "../core/core/mixins";
// -------------------------------------
// Variables Import
// -------------------------------------
// 載入全域變數
@import "../core/core/variables";
// -------------------------------------
// Components / Modules Setting
// -------------------------------------
// 請輸入您的ClassName
$classname: 'dateTab';
// -------------------------------------
// 您的CSS Code
// -------------------------------------
//以下範例可以刪除，改為您自已的CSS Code
.#{$classname} {
    &>.calendars_tabWrap {
        display: flex;
        &>.prev {
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ede9dd;
            &:before {
                content: '';
                border-style: solid;
                border-width: 7px 7px 7px 0;
                border-color: transparent #e10500 transparent transparent;
                position: absolute;
            }
        }
        &>.next {
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ede9dd;
            &:before {
                content: '';
                border-style: solid;
                border-width: 7px 0 7px 7px;
                position: absolute;
                border-color: transparent transparent transparent #e10500;
            }
        }
        &>.ntb_tab {
            padding: 0;
            margin-bottom: 0;
            flex: 1;
            background-color: #ede9dd;
            white-space: nowrap;
            overflow: hidden;
            &>.tab {
                width: 33.3%;
                display: inline-block;
                margin-top: 6px;
                &>.month_a {
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &>span {
                        text-align: center;
                        font-size: 16px;
                        color: #666;
                        width: 100%;
                        padding: 13px 0;
                    }
                }
            }
        }
    }
    &>.calendars_weeksWrap {
        display: flex;
        &>span {
            flex: 1;
            text-align: center;
        }
    }
    .tab_active {
        background-color: #fff;
    }

    &.#{$classname}_daymode {
        &>.#{$classname}_ul_wrap {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            &>.#{$classname}_day {
                cursor: pointer;
                width: (100%/7);
                min-height: 85px;
                border: 1px solid #eee;
                font-size: 12px;
                line-height: 16px;
                border-left-width: 0;
                border-top-width: 0;
                display: block;
                position: relative;
                &:hover {
                    background-color: #fff9e3;
                }
                &:last-child {
                    border-right-width: 1px;
                }
                &:nth-child(-n + 7) {
                    border-top-width: 1px;
                }
                &:nth-child(7n+1) {
                    border-left-width: 1px;
                }
                &>.date {
                    &>.weekday {
                        display: none;
                    }
                }
                &>span {
                    font-size: 12px;
                    display: block;
                }
                &>.day_div {
                    position: relative;
                    .num {
                        top: 2px;
                        left: 2px;
                        color: #444;
                    }
                }
                &>.guaranteed {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    text-align: center;
                    width: 48px;
                    height: 20px;
                    line-height: 20px;
                    background-color: #66bb3c;
                    color: #fff;
                }
                &>.price {
                    color: red;
                }
            }
            &>.disabled {
                background-color: #f8f8f8;
                border: none;
                pointer-events: none;
            }
        }
        .hasDataActive {
            background-color: #fff9e3;
            border: 2px solid #66bb3c !important;
        }
    }
    &.#{$classname}_listmode {
        &>.dateTab_ul_wrap {
            list-style: none;
            padding: 0;
        }
        &>.calendars_weeksWrap {
            display: none;
        }
        &>.#{$classname}_ul_wrap {
            display: block;
            min-height: 539px;
            &>.#{$classname}_day {
                cursor: pointer;
                border: 1px solid #eee;
                border-bottom: none;
                @include clearfix;
                &:hover{
	                background-color: #fff9e3;
	                border: 1px solid #66bb3c;
                }
                &>.day_div {
                    float: left;
                    display: grid;
                    text-align: center;
                    font-size: 24px;
                    color: #666;
                    padding: 0 5px 5px;
                    &>.list_week {
                        font-size: 16px;
                    }
                }
                &>.status {
                    float: right;
                    font-size: 16px;
                    padding-right: 5px;
                }
                &>.availableVancancy {
                    display: inline-block;
                    margin: 5px 20px 5px;
                }
                &>.totalVacnacy {
                    @extend .availableVancancy;
                }
                &>.guaranteed {
                    padding: 0 5px;
                    margin: 10px 20px 5px;
                    line-height: 1.5;
                    float: left;
                    clear: right;
                    background-color: #66bb3c;
                    color: #fff;
                    &:before {
                        content: "\E6DB";
                        text-align: center;
                    }
                }
                &>.price {
                    float: right;
                    font-size: 16px;
                    color: red;
                    clear: right;
                    padding-top: 10px;
                    padding-right: 5px;
                }
            }
            &>.hasDataActive {
                background-color: #fff9e3;
                border: 1px solid #66bb3c !important;
            }
        }
        &>.listPage_wrap {
            &>.listPage_box {
                display: flex;
                justify-content: space-between;
                &>.current_page {
                    text-align: center;
                }
            }
        }
    }
}